# Predspracovanie údajov

In [2247]:
# imports
import pandas as pd
import numpy as np
import hashlib
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, MinMaxScaler, PowerTransformer, QuantileTransformer
from sklearn.compose import ColumnTransformer

## 1. Realizácia predspracovania dát

In [2248]:
connections = pd.read_csv('data/connections_cleaned.csv')
connections['ts'] = pd.to_datetime(connections['ts'])

processes = pd.read_csv('data/processes_cleaned.csv')
processes['ts'] = pd.to_datetime(processes['ts'])

conn_processes = pd.merge(connections, processes, on=['ts', 'imei', 'mwra'], how='inner')
conn_processes.drop_duplicates(inplace=True)

conn_processes.head(2)

,ts,imei,mwra,c.android.gm,c.android.youtube,c.katana,c.dogalize,c.android.chrome,c.android.vending,c.raider,...,p.dogalize,p.android.defcontainer,p.google,p.android.gms,p.olauncher,p.android.vending,p.browser.provider,p.process.gapps,p.gms.persistent,p.simulator
0,2018-05-05 10:00:00,3590433799317661073,1.0,10.73779,7.60358,10.30550,12.72137,17.14262,63.02014,52.99201,...,49.63998,52.22598,86.79731,88.93302,12.84506,2.63115,90.52801,90.51873,35.23943,93.56427
1,2018-05-05 10:01:00,3590433799317661784,1.0,13.88095,10.68630,8.36266,13.90403,13.28416,54.83081,41.20946,...,50.35593,45.19193,87.84568,25.99896,90.22100,71.68478,89.94562,71.77292,64.49298,42.81274

In [2249]:
devices = pd.read_csv('data/devices_cleaned.csv')
profiles = pd.read_csv('data/profiles_cleaned.csv')

### (A)

In [2250]:
X = conn_processes.drop(columns=['mwra'])
y = conn_processes['mwra']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

print(f'Train Dataset Shape: ', X_train.shape, y_train.shape)
print(f'Test Dataset Shape: ', X_test.shape, y_test.shape)

Train Dataset Shape:  (11835, 32) (11835,)
Test Dataset Shape:  (2959, 32) (2959,)

### (B)

In [2251]:
def hash_md5(value):
    hash_object = hashlib.md5(value.encode())
    hash_int = int(hash_object.hexdigest(), 16)
    return hash_int % (2 ** 63)

In [2252]:
non_numeric = X_train.select_dtypes(exclude=['number']).columns.to_list()
print('Non-numeric columns:', non_numeric)

Non-numeric columns: ['ts']

In [2253]:
X_train['ts'] = X_train['ts'].astype('int64')

print('Column types in order:', X_train.dtypes.to_list())
X_train.head(2)

Column types in order: [dtype('int64'), dtype('int64'), dtype('float64'), dtype('float64'), dtype('float64'), dtype('float64'), dtype('float64'), dtype('float64'), dtype('float64'), dtype('float64'), dtype('float64'), dtype('float64'), dtype('float64'), dtype('float64'), dtype('float64'), dtype('float64'), dtype('float64'), dtype('float64'), dtype('float64'), dtype('float64'), dtype('float64'), dtype('float64'), dtype('float64'), dtype('float64'), dtype('float64'), dtype('float64'), dtype('float64'), dtype('float64'), dtype('float64'), dtype('float64'), dtype('float64'), dtype('float64')]

,ts,imei,c.android.gm,c.android.youtube,c.katana,c.dogalize,c.android.chrome,c.android.vending,c.raider,c.UCMobile.intl,...,p.dogalize,p.android.defcontainer,p.google,p.android.gms,p.olauncher,p.android.vending,p.browser.provider,p.process.gapps,p.gms.persistent,p.simulator
10308,1526133600000000000,3590433799317661545,15.07576,10.24261,12.55076,10.81983,16.56803,51.08433,55.40703,42.16911,...,59.00193,15.19691,24.61623,47.64864,36.44968,75.69554,0.81417,10.06329,35.59590,4.49113
10797,1526162700000000000,359043379931766635,11.47352,11.52160,14.50189,9.98012,14.12950,70.55549,66.92780,16.73113,...,60.71290,33.17497,83.04305,45.18686,27.33930,61.00963,77.18931,84.50057,46.84404,93.53882

In [2254]:
non_numeric = devices.select_dtypes(exclude=['number']).columns.to_list()
print('Non-numeric columns:', non_numeric)

Non-numeric columns: ['store_name', 'code', 'continent', 'city']

In [2255]:
devices['code'], code_unique = pd.factorize(devices['code'])
devices = pd.get_dummies(devices, columns=['continent'], prefix='continent')

for col in devices.columns:
    if col.startswith('continent_'):
        devices[col] = devices[col].astype(int)

devices['store_name'] = devices['store_name'].apply(hash_md5)

frequency = devices['city'].value_counts()
devices['city'] = devices['city'].map(frequency)

print('Column types in order:', devices.dtypes.to_list())
devices.head(2)

Column types in order: [dtype('float64'), dtype('float64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64')]

,latitude,longitude,store_name,code,imei,city,continent_Africa,continent_America,continent_Asia,continent_Atlantic,continent_Australia,continent_Europe,continent_Indian,continent_Pacific
0,15.58552,102.42587,1238261730008270783,0,3590433799317661925,36,0,0,1,0,0,0,0,0
1,52.59319,13.32127,3703756712017643536,1,8630330696303482139,136,0,0,0,0,0,1,0,0

In [2256]:
non_numeric = profiles.select_dtypes(exclude=['number']).columns.to_list()
print('Non-numeric columns:', non_numeric)

Non-numeric columns: ['residence', 'username', 'name', 'ssn', 'registration', 'address', 'company', 'mail', 'latitude', 'longitude', 'domain']

In [2257]:
profiles.drop(['residence', 'username', 'name', 'mail'], inplace=True, axis=1)

profiles['latitude'] = profiles['latitude'].replace('Unknown', 0)
profiles['longitude'] = profiles['longitude'].replace('Unknown', 0)

profiles['latitude'] = profiles['latitude'].astype(float)
profiles['longitude'] = profiles['longitude'].astype(float)

profiles['registration'] = pd.to_datetime(profiles['registration'], format='%m/%d/%Y')
profiles['registration'] = (profiles['registration']).astype(int)

def convert_ssn(value):
    cleaned = ''.join(filter(str.isdigit, value))
    return int(cleaned)

profiles['ssn'] = profiles['ssn'].apply(convert_ssn)

def encode_address(value):
    return 0 if value == 'Unknown' else 1

profiles['address'] = profiles['address'].apply(encode_address)
profiles['company'] = profiles['company'].apply(hash_md5)

profiles = pd.get_dummies(profiles, columns=['domain'], prefix='domain')

for col in profiles.columns:
    if col.startswith('domain_'):
        profiles[col] = profiles[col].astype(int)

print('Column types in order:', devices.dtypes.to_list())
profiles.head(2)

Column types in order: [dtype('float64'), dtype('float64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64')]

,imei,ssn,registration,address,company,user_id,latitude,longitude,domain_gmail.com,domain_hotmail.com,domain_yahoo.com
0,359043379931766536,380331115,1667260800000000000,1,2562683759997207315,322,29.254521,56.881839,0,1,0
1,3590433799317662154,244952123,1701129600000000000,1,8266524727329204724,1634,-73.824535,-147.436751,0,1,0

In [2258]:
X_train.drop(['ts', 'imei'], inplace=True, axis=1)

In [2259]:
def outlier_detection(df):
    for col in df.select_dtypes(include=[np.number]).columns:
        lower_bound = df[col].quantile(0.05)
        upper_bound = df[col].quantile(0.95)

        df[col] = np.where(df[col] < lower_bound, lower_bound, df[col])
        df[col] = np.where(df[col] > upper_bound, upper_bound, df[col])
    
    return df

def fill_missing_values(df):
    for col in df.select_dtypes(include=[np.number]).columns:
        df[col] = df[col].fillna(df[col].median())

    return df

In [2260]:
X_train = fill_missing_values(X_train)
X_train = outlier_detection(X_train)

### (C)

In [2261]:
standard_columns, minmax_columns, power_columns, quantile_columns = [], [], [], []

def select_transformer(column):
    skewness = column.skew()
    negative_values = (column < 0).any()
    
    iqr = column.quantile(0.75) - column.quantile(0.25)
    range = column.max() - column.min()
    large_range = range > iqr * 2
    
    if abs(skewness) >= 1.5 and not negative_values:
        power_columns.append(column.name)
        return
    
    if (column.max() > 1 or column.min() < 0) and (0.25 < abs(skewness) < 1.5):
        minmax_columns.append(column.name)
        return
    
    if large_range or (0.25 < abs(skewness) < 1.5):
        quantile_columns.append(column.name)
        return
    
    if abs(skewness) <= 0.25:
        standard_columns.append(column.name)
        return

for col in X_train.columns:
    select_transformer(X_train[col])

print('StandardScaler Columns:\t\t', standard_columns)
print('MinMaxScaler Columns:\t\t', minmax_columns)
print('PowerTransformer Columns:\t', power_columns)
print('QuantileTransformer Columns:\t', quantile_columns)

StandardScaler Columns:		 ['c.UCMobile.intl', 'c.updateassist', 'c.UCMobile.x86', 'p.android.defcontainer', 'p.google', 'p.android.gms', 'p.olauncher', 'p.android.vending', 'p.browser.provider', 'p.process.gapps', 'p.gms.persistent', 'p.simulator']
MinMaxScaler Columns:		 ['p.android.chrome', 'p.android.documentsui', 'p.android.gm']
PowerTransformer Columns:	 ['p.notifier']
QuantileTransformer Columns:	 ['c.android.gm', 'c.android.youtube', 'c.katana', 'c.dogalize', 'c.android.chrome', 'c.android.vending', 'c.raider', 'p.system', 'p.android.externalstorage', 'p.android.packageinstaller', 'p.android.settings', 'p.inputmethod.latin', 'p.katana', 'p.dogalize']

In [2262]:
preprocessor = ColumnTransformer(
    transformers=[
        ('standard', StandardScaler(), standard_columns),
        ('minmax', MinMaxScaler(), minmax_columns),
        ('power', PowerTransformer(method='yeo-johnson'), power_columns),
        ('quantile', QuantileTransformer(output_distribution='normal'), quantile_columns)
    ],
    remainder='passthrough'
)

X_train_transformed = preprocessor.fit_transform(X_train)

### (D)

## 2. Výber atribútov pre strojové učenie

### (A)

### (B)

### (C)

## 3. Replikovateľnosť predspracovania

### (A)

### (B)

<small>Percentuálny podiel práce členov na projekte: Vlastislav Pokorný: 50%, Leon Radó: 50%</small>