In [623]:
import pandas as pd
import numpy as np

## Základný opis dát spolu s ich charakteristikami

#### (A)

##### Dataset 1: connections.csv

In [624]:
connections = pd.read_csv('data/connections.csv', sep='\t')
connections.head()

,ts,imei,mwra,c.android.gm,c.android.youtube,c.katana,c.dogalize,c.android.chrome,c.android.vending,c.raider,c.UCMobile.intl,c.updateassist,c.UCMobile.x86
0,2018-05-05 10:00:00,3590433799317661073,1.0,10.73779,7.60358,10.30550,12.72137,17.14262,63.02014,52.99201,79.18648,71.70308,82.68561
1,2018-05-05 10:01:00,3590433799317661784,1.0,13.88095,10.68630,8.36266,13.90403,13.28416,54.83081,41.20946,89.97421,25.11522,60.15617
2,2018-05-05 10:02:00,863033069630348917,0.0,9.38536,16.17278,13.29120,5.79980,15.01395,49.94955,55.12888,35.60304,32.90686,28.07780
3,2018-05-05 10:03:00,863033069630348339,1.0,7.29835,16.20768,9.73707,13.21535,9.59391,48.30890,65.90586,70.97902,79.61014,7.25507
4,2018-05-05 10:04:00,3590433799317662212,0.0,12.68999,12.72589,6.94943,9.72027,16.11904,54.58740,50.94873,98.93871,91.55704,12.11459

In [625]:
print('Počet záznamov:', connections.shape[0])
print('Počet atribútov:', connections.shape[1])
print('Názvy atribútov:', [*connections.columns])

Počet záznamov: 15160
Počet atribútov: 13
Názvy atribútov: ['ts', 'imei', 'mwra', 'c.android.gm', 'c.android.youtube', 'c.katana', 'c.dogalize', 'c.android.chrome', 'c.android.vending', 'c.raider', 'c.UCMobile.intl', 'c.updateassist', 'c.UCMobile.x86']

In [626]:
print('Dátové typy jednotlivých atribútov:')
connections.dtypes

Dátové typy jednotlivých atribútov:

ts                    object
imei                   int64
mwra                 float64
c.android.gm         float64
c.android.youtube    float64
c.katana             float64
c.dogalize           float64
c.android.chrome     float64
c.android.vending    float64
c.raider             float64
c.UCMobile.intl      float64
c.updateassist       float64
c.UCMobile.x86       float64
dtype: object

##### Dataset 2: devices.csv

In [627]:
devices = pd.read_csv('data/devices.csv', sep='\t')
devices.head(100)

,latitude,longitude,store_name,code,location,imei
0,15.58552,102.42587,Bua Yai,TH,Asia/Bangkok,3590433799317661925
1,52.59319,13.32127,Wittenau,DE,Europe/Berlin,8630330696303482139
2,35.88264,-80.08199,Thomasville,US,America/New_York,863033069630348537
3,42.28639,18.84000,Budva,ME,Europe/Podgorica,863033069630348438
4,46.51872,86.00214,Hoxtolgay,CN,Asia/Urumqi,3590433799317661529
...,...,...,...,...,...,...
95,33.41012,-91.06177,Greenville,US,America/Chicago,3590433799317661727
96,0.03813,36.36339,Nyahururu,KE,Africa/Nairobi,359043379931766882
97,9.91861,-68.30472,Tinaquillo,VE,America/Caracas,3590433799317662246
98,41.75338,-86.11084,Granger,US,America/Indiana/Indianapolis,863033069630348495
99,44.98901,38.94324,Yablonovskiy,RU,Europe/Moscow,3590433799317661941

In [628]:
print('Počet záznamov:', devices.shape[0])
print('Počet atribútov:', devices.shape[1])
print('Názvy atribútov:', [*devices.columns])

Počet záznamov: 2980
Počet atribútov: 6
Názvy atribútov: ['latitude', 'longitude', 'store_name', 'code', 'location', 'imei']

In [629]:
print('Dátové typy jednotlivých atribútov:')
devices.dtypes

Dátové typy jednotlivých atribútov:

latitude      float64
longitude     float64
store_name     object
code           object
location       object
imei            int64
dtype: object

##### Dataset 3: processes.csv

In [630]:
processes = pd.read_csv('data/processes.csv', sep='\t')
processes.head()

,ts,imei,mwra,p.android.chrome,p.system,p.android.externalstorage,p.android.packageinstaller,p.android.documentsui,p.android.gm,p.android.settings,...,p.dogalize,p.android.defcontainer,p.google,p.android.gms,p.olauncher,p.android.vending,p.browser.provider,p.process.gapps,p.gms.persistent,p.simulator
0,2018-05-05 10:00:00,3590433799317661073,1.0,13.85861,7.64793,7.27894,9.57361,8.33502,9.63344,14.10782,...,49.63998,52.22598,86.79731,88.93302,12.84506,2.63115,90.52801,90.51873,35.23943,93.56427
1,2018-05-05 10:01:00,3590433799317661784,1.0,15.41892,14.08046,6.67208,9.29380,9.44110,7.40963,14.00144,...,50.35593,45.19193,87.84568,25.99896,90.22100,71.68478,89.94562,71.77292,64.49298,42.81274
2,2018-05-05 10:02:00,863033069630348917,0.0,9.02474,10.64196,12.71551,14.92095,10.43897,10.23411,12.33791,...,51.05029,29.87061,59.48429,45.04187,1.58945,13.22444,88.76900,64.93572,45.52142,44.37595
3,2018-05-05 10:03:00,863033069630348339,1.0,7.73562,16.25267,8.75428,10.09556,10.68004,7.78818,11.13198,...,61.63920,86.63658,18.00165,20.65816,22.51564,28.59876,62.69179,34.25119,4.52876,72.11141
4,2018-05-05 10:04:00,3590433799317662212,0.0,7.46264,12.82177,10.80300,4.85724,12.01441,9.38242,17.40947,...,36.14104,41.29170,72.44112,93.65874,50.08215,38.17231,6.71236,72.23466,68.04155,33.38015

In [631]:
print('Počet záznamov:', processes.shape[0])
print('Počet atribútov:', processes.shape[1])
print('Názvy atribútov:', [*processes.columns])

Počet záznamov: 15160
Počet atribútov: 23
Názvy atribútov: ['ts', 'imei', 'mwra', 'p.android.chrome', 'p.system', 'p.android.externalstorage', 'p.android.packageinstaller', 'p.android.documentsui', 'p.android.gm', 'p.android.settings', 'p.inputmethod.latin', 'p.notifier', 'p.katana', 'p.dogalize', 'p.android.defcontainer', 'p.google', 'p.android.gms', 'p.olauncher', 'p.android.vending', 'p.browser.provider', 'p.process.gapps', 'p.gms.persistent', 'p.simulator']

In [632]:
print('Dátové typy jednotlivých atribútov:')
processes.dtypes

Dátové typy jednotlivých atribútov:

ts                             object
imei                            int64
mwra                          float64
p.android.chrome              float64
p.system                      float64
p.android.externalstorage     float64
p.android.packageinstaller    float64
p.android.documentsui         float64
p.android.gm                  float64
p.android.settings            float64
p.inputmethod.latin           float64
p.notifier                    float64
p.katana                      float64
p.dogalize                    float64
p.android.defcontainer        float64
p.google                      float64
p.android.gms                 float64
p.olauncher                   float64
p.android.vending             float64
p.browser.provider            float64
p.process.gapps               float64
p.gms.persistent              float64
p.simulator                   float64
dtype: object

##### Dataset 4: profiles.csv

In [633]:
profiles = pd.read_csv('data/profiles.csv', sep='\t')
profiles.head()

,residence,username,birthdate,imei,name,ssn,registration,address,company,user_id,mail,current_location
0,NaN,benjaminlinda,NaN,359043379931766536,Barry Clay,380-33-1115,2022/11/01,"836 Johnson Throughway\r\nPort Ritaborough, AR...",Montgomery Group,322,jamesrichard@hotmail.com,"(Decimal('29.2545215'), Decimal('56.881839'))"
1,NaN,emilyanderson,NaN,3590433799317662154,Justin Clark,244-95-2123,2023/11/28,"84743 Anna Vista\r\nEast Jaredborough, MT 07310",Williams-Smith,1634,steve96@hotmail.com,"(Decimal('-73.8245355'), Decimal('-147.436751'))"
2,NaN,vfriedman,NaN,3590433799317662162,Kimberly Atkinson,052-18-1099,11 Apr 2020,USNV Carrillo\r\nFPO AA 27278,"Khan, Dodson and Frank",1538,robert85@yahoo.com,"(Decimal('10.6039875'), Decimal('-82.963400'))"
3,NaN,utaylor,1985-11-17,3590433799317661347,David Robinson,035-28-4630,01 Aug 2019,"297 Berry Creek Suite 292\r\nChristophershire,...",Klein-Lopez,1661,emmamatthews@gmail.com,"(Decimal('-71.951311'), Decimal('-90.881496'))"
4,NaN,xpierce,2018-11-04,359043379931766064,Victoria Nguyen,754-23-6927,"03/02/2022, 00:00:00","164 Osborne Oval Suite 980\r\nAshleyville, CO ...",Tran LLC,1676,ginamartin@yahoo.com,"(Decimal('0.3168465'), Decimal('-24.514492'))"

In [634]:
print('Počet záznamov:', profiles.shape[0])
print('Počet atribútov:', profiles.shape[1])
print('Názvy atribútov:', [*profiles.columns])

Počet záznamov: 2520
Počet atribútov: 12
Názvy atribútov: ['residence', 'username', 'birthdate', 'imei', 'name', 'ssn', 'registration', 'address', 'company', 'user_id', 'mail', 'current_location']

In [635]:
print('Dátové typy jednotlivých atribútov:')
profiles.dtypes

Dátové typy jednotlivých atribútov:

residence           object
username            object
birthdate           object
imei                 int64
name                object
ssn                 object
registration        object
address             object
company             object
user_id              int64
mail                object
current_location    object
dtype: object

### Vzťahy medzi datasetmi

In [636]:
from itertools import combinations

dataframes = enumerate([connections, devices, processes, profiles])
names = ['connections', 'devices', 'processes', 'profiles']

print('Zdieľané atribúty:')
for df_a, df_b in combinations(dataframes, 2):
    shared_columns = set(df_a[1].columns).intersection(df_b[1].columns)
    
    print(f'{names[df_a[0]]} - {names[df_b[0]]}: {list(shared_columns)}')

Zdieľané atribúty:
connections - devices: ['imei']
connections - processes: ['ts', 'imei', 'mwra']
connections - profiles: ['imei']
devices - processes: ['imei']
devices - profiles: ['imei']
processes - profiles: ['imei']

Všetky datasety zdieľajú atribút **imei**.

Datasety _connections_ a _processes_ zdieľajú aj atribúty **mwra** a **ts**.

#### (B)

# 1.2)

Odstránenie duplicitných záznamov

In [637]:
connections.drop_duplicates()
devices.drop_duplicates()
processes.drop_duplicates()
profiles.drop_duplicates()

,residence,username,birthdate,imei,name,ssn,registration,address,company,user_id,mail,current_location
0,NaN,benjaminlinda,NaN,359043379931766536,Barry Clay,380-33-1115,2022/11/01,"836 Johnson Throughway\r\nPort Ritaborough, AR...",Montgomery Group,322,jamesrichard@hotmail.com,"(Decimal('29.2545215'), Decimal('56.881839'))"
1,NaN,emilyanderson,NaN,3590433799317662154,Justin Clark,244-95-2123,2023/11/28,"84743 Anna Vista\r\nEast Jaredborough, MT 07310",Williams-Smith,1634,steve96@hotmail.com,"(Decimal('-73.8245355'), Decimal('-147.436751'))"
2,NaN,vfriedman,NaN,3590433799317662162,Kimberly Atkinson,052-18-1099,11 Apr 2020,USNV Carrillo\r\nFPO AA 27278,"Khan, Dodson and Frank",1538,robert85@yahoo.com,"(Decimal('10.6039875'), Decimal('-82.963400'))"
3,NaN,utaylor,1985-11-17,3590433799317661347,David Robinson,035-28-4630,01 Aug 2019,"297 Berry Creek Suite 292\r\nChristophershire,...",Klein-Lopez,1661,emmamatthews@gmail.com,"(Decimal('-71.951311'), Decimal('-90.881496'))"
4,NaN,xpierce,2018-11-04,359043379931766064,Victoria Nguyen,754-23-6927,"03/02/2022, 00:00:00","164 Osborne Oval Suite 980\r\nAshleyville, CO ...",Tran LLC,1676,ginamartin@yahoo.com,"(Decimal('0.3168465'), Decimal('-24.514492'))"
...,...,...,...,...,...,...,...,...,...,...,...,...
2515,"819 Elizabeth Crescent\r\nEast Angelaberg, NV ...",andrewschmidt,NaN,3590433799317661446,Scott Young,273-86-7629,2021/05/28,"002 Elizabeth Drive\r\nMarkborough, ID 59780","Nolan, Ramirez and Silva",938,sarah61@yahoo.com,"(Decimal('22.712311'), Decimal('-100.827184'))"
2516,"68483 Howard Crossing\r\nWest Samuelbury, OK 1...",randymorris,NaN,3590433799317661917,Catherine Hayes,242-47-9427,"09/16/2018, 00:00:00",NaN,Dunn Inc,1215,vanessamaddox@yahoo.com,"(Decimal('-58.7545485'), Decimal('56.217564'))"
2517,70540 Pittman Divide Suite 401\r\nPort Stevens...,angelaallen,2023-02-21,3590433799317661438,Curtis Mcclure,582-76-2856,08 Jul 2020,"9586 Michael Green\r\nDavisview, KY 24949",Lee LLC,287,damon22@yahoo.com,"(Decimal('-22.2971655'), Decimal('-178.490873'))"
2518,"5801 Jimmy Plains Suite 504\r\nJenniferhaven, ...",sarah52,1932-05-14,8630330696303482279,Sarah Washington,565-46-7075,07 May 2020,USNV Frey\r\nFPO AA 77729,"Williams, Castillo and Poole",19,jenniferbranch@hotmail.com,"(Decimal('20.092028'), Decimal('126.541931'))"
2519,NaN,nguyenfrank,1963-07-15,3590433799317661727,Cassandra Smith,717-73-9623,2024/05/08,"8186 Evan Corner\r\nMatthewfort, PW 15541","Collins, Watson and Hall",1610,marcjohnston@hotmail.com,"(Decimal('-43.3271475'), Decimal('-4.328799'))"

Zmena dátového typu ts z object na datetime

In [638]:
processes["ts"] = pd.to_datetime(processes["ts"])
processes.head()

,ts,imei,mwra,p.android.chrome,p.system,p.android.externalstorage,p.android.packageinstaller,p.android.documentsui,p.android.gm,p.android.settings,...,p.dogalize,p.android.defcontainer,p.google,p.android.gms,p.olauncher,p.android.vending,p.browser.provider,p.process.gapps,p.gms.persistent,p.simulator
0,2018-05-05 10:00:00,3590433799317661073,1.0,13.85861,7.64793,7.27894,9.57361,8.33502,9.63344,14.10782,...,49.63998,52.22598,86.79731,88.93302,12.84506,2.63115,90.52801,90.51873,35.23943,93.56427
1,2018-05-05 10:01:00,3590433799317661784,1.0,15.41892,14.08046,6.67208,9.29380,9.44110,7.40963,14.00144,...,50.35593,45.19193,87.84568,25.99896,90.22100,71.68478,89.94562,71.77292,64.49298,42.81274
2,2018-05-05 10:02:00,863033069630348917,0.0,9.02474,10.64196,12.71551,14.92095,10.43897,10.23411,12.33791,...,51.05029,29.87061,59.48429,45.04187,1.58945,13.22444,88.76900,64.93572,45.52142,44.37595
3,2018-05-05 10:03:00,863033069630348339,1.0,7.73562,16.25267,8.75428,10.09556,10.68004,7.78818,11.13198,...,61.63920,86.63658,18.00165,20.65816,22.51564,28.59876,62.69179,34.25119,4.52876,72.11141
4,2018-05-05 10:04:00,3590433799317662212,0.0,7.46264,12.82177,10.80300,4.85724,12.01441,9.38242,17.40947,...,36.14104,41.29170,72.44112,93.65874,50.08215,38.17231,6.71236,72.23466,68.04155,33.38015

Formátovanie profiles

In [639]:
import re

def convert_decimal_string_to_floats(location):
    if isinstance(location, str):
        match = re.findall(r"[-+]?\d*\.\d+|\d+", location)
        if match and len(match) == 2:
            return (float(match[0]), float(match[1]))
    elif isinstance(location, tuple) and len(location) == 2:
        return (float(location[0]), float(location[1]))

profiles['current_location'] = profiles['current_location'].apply(convert_decimal_string_to_floats)
profiles[['latitude', 'longitude']] = pd.DataFrame(profiles['current_location'].tolist(), index=profiles.index)
profiles["latitude"] = profiles["latitude"].fillna("Unknown")
profiles["longitude"] = profiles["longitude"].fillna("Unknown")
profiles = profiles.drop(columns=['current_location', 'birthdate'])
profiles["address"] = profiles["address"].fillna(profiles["residence"])
profiles["residence"] = profiles["residence"].fillna(profiles["address"])
profiles["address"] = profiles["address"].fillna("Unknown")
profiles["residence"] = profiles["residence"].fillna("Unknown")
profiles['residence'] = profiles['residence'].str.replace(r'[\r\n]+', ' ', regex=True).str.strip()
profiles['address'] = profiles['address'].str.replace(r'[\r\n]+', ' ', regex=True).str.strip()  

def convert_registration_date(date_str):
    date = pd.to_datetime(date_str, errors='coerce') 
    return date.strftime('%m/%d/%Y') if pd.notnull(date) else None

profiles['registration'] = profiles['registration'].apply(convert_registration_date)

profiles.head()

,residence,username,imei,name,ssn,registration,address,company,user_id,mail,latitude,longitude
0,"836 Johnson Throughway Port Ritaborough, AR 37029",benjaminlinda,359043379931766536,Barry Clay,380-33-1115,11/01/2022,"836 Johnson Throughway Port Ritaborough, AR 37029",Montgomery Group,322,jamesrichard@hotmail.com,29.254521,56.881839
1,"84743 Anna Vista East Jaredborough, MT 07310",emilyanderson,3590433799317662154,Justin Clark,244-95-2123,11/28/2023,"84743 Anna Vista East Jaredborough, MT 07310",Williams-Smith,1634,steve96@hotmail.com,-73.824535,-147.436751
2,USNV Carrillo FPO AA 27278,vfriedman,3590433799317662162,Kimberly Atkinson,052-18-1099,04/11/2020,USNV Carrillo FPO AA 27278,"Khan, Dodson and Frank",1538,robert85@yahoo.com,10.603988,-82.9634
3,"297 Berry Creek Suite 292 Christophershire, MP...",utaylor,3590433799317661347,David Robinson,035-28-4630,08/01/2019,"297 Berry Creek Suite 292 Christophershire, MP...",Klein-Lopez,1661,emmamatthews@gmail.com,-71.951311,-90.881496
4,"164 Osborne Oval Suite 980 Ashleyville, CO 24401",xpierce,359043379931766064,Victoria Nguyen,754-23-6927,03/02/2022,"164 Osborne Oval Suite 980 Ashleyville, CO 24401",Tran LLC,1676,ginamartin@yahoo.com,0.316846,-24.514492

Odstránenie záznamov s NaN code - devices

In [640]:
devices = devices.dropna()

Nahradenie vychýlených hodnôt hraničnými hodnotami - processes

In [641]:
for column in processes.columns[2:]:
    avg_value = processes[column].mean()
    deviation_limit = 3 * processes[column].std()
    
    upper_bound = avg_value + deviation_limit
    processes.loc[processes[column] > upper_bound, column] = upper_bound

    lower_bound = avg_value - deviation_limit
    processes.loc[processes[column] < lower_bound, column] = lower_bound

Odstránenie záznamov s hraničnými hodnotami - connections

In [642]:
outlier_mask = pd.Series([False] * len(connections))

for column in connections.columns[2:]:
    avg_value = connections[column].mean()
    deviation_limit = 3 * connections[column].std()

    upper_bound = avg_value + deviation_limit
    lower_bound = avg_value - deviation_limit

    upper_outliers_mask = connections[column] > upper_bound
    lower_outliers_mask = connections[column] < lower_bound
    
    outlier_mask |= upper_outliers_mask | lower_outliers_mask

connections = connections[~outlier_mask]

Zjednotenie formátu location a rozdelenie na continent a city - processes

In [643]:
def clean_location(location):
    parts = location.split('/')

    if len(parts) == 3:
        return f"{parts[0]}/{parts[2]}"
    else:
        return location 

devices['location'] = devices['location'].apply(clean_location)
devices[['continent', 'city']] = devices['location'].str.split('/', expand=True)
devices = devices.drop(columns=['location'])

devices.head(100)

,latitude,longitude,store_name,code,imei,continent,city
0,15.58552,102.42587,Bua Yai,TH,3590433799317661925,Asia,Bangkok
1,52.59319,13.32127,Wittenau,DE,8630330696303482139,Europe,Berlin
2,35.88264,-80.08199,Thomasville,US,863033069630348537,America,New_York
3,42.28639,18.84000,Budva,ME,863033069630348438,Europe,Podgorica
4,46.51872,86.00214,Hoxtolgay,CN,3590433799317661529,Asia,Urumqi
...,...,...,...,...,...,...,...
95,33.41012,-91.06177,Greenville,US,3590433799317661727,America,Chicago
96,0.03813,36.36339,Nyahururu,KE,359043379931766882,Africa,Nairobi
97,9.91861,-68.30472,Tinaquillo,VE,3590433799317662246,America,Caracas
98,41.75338,-86.11084,Granger,US,863033069630348495,America,Indianapolis
99,44.98901,38.94324,Yablonovskiy,RU,3590433799317661941,Europe,Moscow