In [1]:
import pandas as pd
import numpy as np

In [2]:
connections = pd.read_csv('data/connections.csv', sep='\t')
connections.head()

,ts,imei,mwra,c.android.gm,c.android.youtube,c.katana,c.dogalize,c.android.chrome,c.android.vending,c.raider,c.UCMobile.intl,c.updateassist,c.UCMobile.x86
0,2018-05-05 10:00:00,3590433799317661073,1.0,10.73779,7.60358,10.30550,12.72137,17.14262,63.02014,52.99201,79.18648,71.70308,82.68561
1,2018-05-05 10:01:00,3590433799317661784,1.0,13.88095,10.68630,8.36266,13.90403,13.28416,54.83081,41.20946,89.97421,25.11522,60.15617
2,2018-05-05 10:02:00,863033069630348917,0.0,9.38536,16.17278,13.29120,5.79980,15.01395,49.94955,55.12888,35.60304,32.90686,28.07780
3,2018-05-05 10:03:00,863033069630348339,1.0,7.29835,16.20768,9.73707,13.21535,9.59391,48.30890,65.90586,70.97902,79.61014,7.25507
4,2018-05-05 10:04:00,3590433799317662212,0.0,12.68999,12.72589,6.94943,9.72027,16.11904,54.58740,50.94873,98.93871,91.55704,12.11459

In [3]:
connections.shape

(15160, 13)

In [4]:
connections.isnull().sum()

ts                   0
imei                 0
mwra                 0
c.android.gm         0
c.android.youtube    0
c.katana             0
c.dogalize           0
c.android.chrome     0
c.android.vending    0
c.raider             0
c.UCMobile.intl      0
c.updateassist       0
c.UCMobile.x86       0
dtype: int64

In [5]:
devices = pd.read_csv('data/devices.csv', sep='\t')
devices.head()

,latitude,longitude,store_name,code,location,imei
0,15.58552,102.42587,Bua Yai,TH,Asia/Bangkok,3590433799317661925
1,52.59319,13.32127,Wittenau,DE,Europe/Berlin,8630330696303482139
2,35.88264,-80.08199,Thomasville,US,America/New_York,863033069630348537
3,42.28639,18.84000,Budva,ME,Europe/Podgorica,863033069630348438
4,46.51872,86.00214,Hoxtolgay,CN,Asia/Urumqi,3590433799317661529

In [6]:
devices.shape

(2980, 6)

In [7]:
devices.isnull().sum()

latitude      0
longitude     0
store_name    0
code          2
location      0
imei          0
dtype: int64

In [8]:
processes = pd.read_csv('data/processes.csv', sep='\t')
processes.head()

,ts,imei,mwra,p.android.chrome,p.system,p.android.externalstorage,p.android.packageinstaller,p.android.documentsui,p.android.gm,p.android.settings,...,p.dogalize,p.android.defcontainer,p.google,p.android.gms,p.olauncher,p.android.vending,p.browser.provider,p.process.gapps,p.gms.persistent,p.simulator
0,2018-05-05 10:00:00,3590433799317661073,1.0,13.85861,7.64793,7.27894,9.57361,8.33502,9.63344,14.10782,...,49.63998,52.22598,86.79731,88.93302,12.84506,2.63115,90.52801,90.51873,35.23943,93.56427
1,2018-05-05 10:01:00,3590433799317661784,1.0,15.41892,14.08046,6.67208,9.29380,9.44110,7.40963,14.00144,...,50.35593,45.19193,87.84568,25.99896,90.22100,71.68478,89.94562,71.77292,64.49298,42.81274
2,2018-05-05 10:02:00,863033069630348917,0.0,9.02474,10.64196,12.71551,14.92095,10.43897,10.23411,12.33791,...,51.05029,29.87061,59.48429,45.04187,1.58945,13.22444,88.76900,64.93572,45.52142,44.37595
3,2018-05-05 10:03:00,863033069630348339,1.0,7.73562,16.25267,8.75428,10.09556,10.68004,7.78818,11.13198,...,61.63920,86.63658,18.00165,20.65816,22.51564,28.59876,62.69179,34.25119,4.52876,72.11141
4,2018-05-05 10:04:00,3590433799317662212,0.0,7.46264,12.82177,10.80300,4.85724,12.01441,9.38242,17.40947,...,36.14104,41.29170,72.44112,93.65874,50.08215,38.17231,6.71236,72.23466,68.04155,33.38015

In [9]:
processes.shape

(15160, 23)

In [10]:
processes.isnull().sum()

ts                            0
imei                          0
mwra                          0
p.android.chrome              0
p.system                      0
p.android.externalstorage     0
p.android.packageinstaller    0
p.android.documentsui         0
p.android.gm                  0
p.android.settings            0
p.inputmethod.latin           0
p.notifier                    0
p.katana                      0
p.dogalize                    0
p.android.defcontainer        0
p.google                      0
p.android.gms                 0
p.olauncher                   0
p.android.vending             0
p.browser.provider            0
p.process.gapps               0
p.gms.persistent              0
p.simulator                   0
dtype: int64

In [11]:
profiles = pd.read_csv('data/profiles.csv', sep='\t')
profiles.head()

,residence,username,birthdate,imei,name,ssn,registration,address,company,user_id,mail,current_location
0,NaN,benjaminlinda,NaN,359043379931766536,Barry Clay,380-33-1115,2022/11/01,"836 Johnson Throughway\nPort Ritaborough, AR 3...",Montgomery Group,322,jamesrichard@hotmail.com,"(Decimal('29.2545215'), Decimal('56.881839'))"
1,NaN,emilyanderson,NaN,3590433799317662154,Justin Clark,244-95-2123,2023/11/28,"84743 Anna Vista\nEast Jaredborough, MT 07310",Williams-Smith,1634,steve96@hotmail.com,"(Decimal('-73.8245355'), Decimal('-147.436751'))"
2,NaN,vfriedman,NaN,3590433799317662162,Kimberly Atkinson,052-18-1099,11 Apr 2020,USNV Carrillo\nFPO AA 27278,"Khan, Dodson and Frank",1538,robert85@yahoo.com,"(Decimal('10.6039875'), Decimal('-82.963400'))"
3,NaN,utaylor,1985-11-17,3590433799317661347,David Robinson,035-28-4630,01 Aug 2019,"297 Berry Creek Suite 292\nChristophershire, M...",Klein-Lopez,1661,emmamatthews@gmail.com,"(Decimal('-71.951311'), Decimal('-90.881496'))"
4,NaN,xpierce,2018-11-04,359043379931766064,Victoria Nguyen,754-23-6927,"03/02/2022, 00:00:00","164 Osborne Oval Suite 980\nAshleyville, CO 24401",Tran LLC,1676,ginamartin@yahoo.com,"(Decimal('0.3168465'), Decimal('-24.514492'))"

In [12]:
profiles.shape

(2520, 12)

In [13]:
profiles.isnull().sum()

residence           1638
username               0
birthdate           1134
imei                   0
name                   0
ssn                    0
registration           0
address              378
company                0
user_id                0
mail                   0
current_location     126
dtype: int64